{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "transform-es2015-template-literals",
      {
        "loose": true,
        "spec": true
      }
    ]
  ]
}